<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>allSemisterPastYearQuestions</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/allSemisterPastYearQuestions.css">
</head>

<body>
    <% include header.ejs%>

        <div id="allSemisterPastYearQuestions">
            <center>
                <h1>All Your Semister Questions Container</h1>
            </center>

            <div class="all-semister-div-container">
                <div class="question-sem-div">
                    <h3>First Semister</h3>
                    <ul>
                        <li>
                            <span class="question-year">
                                <a
                                    href="https://drive.google.com/drive/folders/1JkSEC87BT-EMT3JVUxBzwnfwGo5r60dR?usp=drive_link">2019</a>
                                <a
                                    href="https://drive.google.com/drive/folders/1-nuj_ZAaXJNheQ1hopLtvW-V31zJEAoQ?usp=drive_link">2020</a>
                            </span>

                        </li>
                    </ul>
                </div>
                <div class="question-sem-div">
                    <h3>Second Semister</h3>
                    <ul>
                        <li>

                            <span class="question-year">
                                <a
                                    href="https://drive.google.com/drive/folders/1L1TTW7SBmkDvdxf3AaU49gXp5RwAm6Pu?usp=sharing">2018</a>
                                <a
                                    href="https://drive.google.com/drive/folders/1gXNRqct-t8d4A2sB_slAAyW0gZ1JNSVa?usp=sharing">2020</a>
                            </span>
                        </li>
                    </ul>

                </div>
                <div class="question-sem-div">
                    <h3>Third Semister</h3>
                    <ul>
                        <li>

                            <span class="question-year">
                                <a
                                    href="https://drive.google.com/drive/folders/1LtsdbYDBAR07ZaUFFV5cb50fsV4Pmc57?usp=sharing">2020</a>
                                <a
                                    href="https://drive.google.com/drive/folders/1Z6bkvagQiVpJl5D4hohI1LtQKmYY2QMo?usp=sharing">2023
                                    Nagaarjuna</a>
                                <a
                                    href="https://drive.google.com/drive/folders/1V1El6roMwzklrYyQW_aAyutjriGMLuq9?usp=sharing">2023
                                    NCCS</a>
                                <a
                                    href="https://drive.google.com/drive/folders/1GgpDxBsIHhUjX6B3tnH4ys87YESZmfU5?usp=sharing">2019</a>
                            </span>
                        </li>
                    </ul>

                </div>

                <div class="question-sem-div">
                    <h3>Fourth Semister</h3>
                    <ul>
                        <li>

                            <span class="question-year">

                                <a
                                    href="https://drive.google.com/file/d/1y27mkde-EkJcBSJx5K0l4lmA06gkbWnT/view?usp=sharing">2019</a>

                                <a
                                    href="https://drive.google.com/drive/folders/1ZiOLTeToBPXpf33qnTxNhV-2ToHbMIPc?usp=sharing">2020</a>

                                <a
                                    href="https://drive.google.com/drive/folders/1xlMFSTCo8p3Dd1jlcvKGF23FTFzXIcaQ?usp=sharing">2023
                                    Nagaarjuna</a>
                            </span>
                        </li>
                    </ul>

                </div>


                <div class="question-sem-div">
                    <h3>Fifth Semister</h3>
                    <ul>
                        <li>

                            <span class="question-year">
                                <a
                                    href="https://drive.google.com/file/d/1taDAOj-hVZ0pDb6WJZb3TtYSlIGFCJbJ/view?usp=sharing">2018</a>
                            </span>
                        </li>
                    </ul>

                </div>


                <div class="question-sem-div">
                    <h3>Sixth Semister</h3>
                    <ul>
                        <li>
                            <span class="question-year">
                                <a
                                    href="https://drive.google.com/drive/folders/1Gyobi0HQAA39n6dQjM1GpOmGf5eNHM87?usp=sharing">2021</a>
                                <a
                                    href="https://drive.google.com/drive/folders/1DFAKQUR-CXV5bieN1a9HxnMwApSJpYkK?usp=sharing">2023</a>
                            </span>
                        </li>
                    </ul>

                </div>


                <div class="question-sem-div">
                    <h3>Seventh Semister</h3>
                    <ul>
                        <li>

                            <span class="question-year">
                                <a
                                    href="https://drive.google.com/drive/folders/14yWvhSK5FniY2mrZGC0rF2Cae6eewIWZ?usp=sharing">2018</a>
                                <a
                                    href="https://drive.google.com/drive/folders/1SYA13lGqgao2i-7iPoZW-rjryrJpRBtX?usp=sharing">2023
                                    NCCS</a>
                                <a
                                    href="https://drive.google.com/drive/folders/10RUyAJJLvVUAq2Xf5gIINEkbK1iR6hM9?usp=sharing">2023
                                    Nagaarjuna</a>
                            </span>
                        </li>
                    </ul>

                </div>
                <div class="question-sem-div">
                    <h3>Eight Semister</h3>
                    <ul>
                        <li>

                            <span class="question-year">

                                <a
                                    href="https://drive.google.com/drive/folders/13AvsoZk8_6RmSMLejo9KxHeVkHVcbR2S?usp=sharing">2023</a>
                            </span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <% include footer.ejs%>
</body>