<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/faculty.css">
    <link rel="shortcut icon" href="/favicon/android-chrome-192x192.png" type="image/x-icon">

</head>

<body>
    <%- include ('header');%>


        <div id="faculty-main">
            <center>
                <h1>Welcome to <%= title %>
                </h1>
            </center>
            <div class="second-page" id="semister-list-link">
                <div class="introduction">
                    <div class="dancing-boy-wrap">
                        <img src="/images/dancing boy.gif" alt="dancing boy image">
                    </div>
                </div>

                <div class="semister-name-container">
                    <h2>Go To Your Semister</h2>
                    <a href="/bca/firstSemister">
                        first Semister
                    </a>
                    <a href="/bca/secondSemister">
                        Second Semister
                    </a>
                    <a href="/bca/thirdSemister">
                        Third Semister
                    </a>
                    <a href="/bca/fourthSemister">
                        Fourth Semister
                    </a>
                    <a href="/bca/fifthSemister">
                        Fifth Semister
                    </a>
                    <a href="/bca/sixthSemister">
                        Sixth Semister
                    </a>
                    <a href="/bca/seventhSemister">
                        Seventh Semister
                    </a>
                    <a href="/bca/eightSemister">
                        Eight Semister
                    </a>
                </div>
            </div>

        </div>
        <%- include ('footer');%>

</body>

</html>