<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/developer.css">
</head>

<body>
    <% include header.ejs%>


        <div id="developer">
            <center>
                <h1>" We The Developers "</h1>
            </center>
            <br>

            <div class="developer-photo-container">
                <div class="each-img-div" id="joshna-img-div">
                    <div class="each-img">
                        <img src="" alt="" class="joshna-image">
                    </div>

                    <h2>Joshna Karki</h2>
                    <h4>Nick Name</h4>
                    <p>Lorem ipsum dolor sit
                        nte a nulla libero.</p>
                    <div class="social-links">
                        <a href="">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="">
                            <i class="ri-facebook-circle-fill"></i>
                        </a>
                        <a href="">
                            <i class="ri-twitter-x-fill"></i>
                        </a>
                    </div>
                </div>

                <div class="each-img-div" is="aavash-img-div">
                    <div class="each-img">
                        <img src="" alt="" class="aavash-image">
                    </div>

                    <h2>Aavash Bhujel</h2>
                    <h4>Nick Name</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti maxime magni porro. Assumenda,
                        aliquid modi. Labore sapiente a nulla libero.</p>
                    <div class="social-links">
                        <a href="">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="">
                            <i class="ri-facebook-circle-fill"></i>
                        </a>
                        <a href="">
                            <i class="ri-twitter-x-fill"></i>
                        </a>
                    </div>
                </div>


                <div class="each-img-div" id="karub-img-div">
                    <div class="each-img">
                        <img src="" alt="" class="karub-image">
                    </div>

                    <h2>Karub Dahal</h2>
                    <h4>Nick Name</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti maxime magni porro. Assumenda,
                        aliquid modi. Labore sapiente a nulla libero.</p>
                    <div class="social-links">
                        <a href="">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="">
                            <i class="ri-facebook-circle-fill"></i>
                        </a>
                        <a href="">
                            <i class="ri-twitter-x-fill"></i>
                        </a>
                    </div>
                </div>


                <div class="each-img-div" id="dipanshu-img-div">
                    <div class="each-img">
                        <img src="" alt="" class="dipanshu-image">
                    </div>

                    <h2>Dipanshu Khadka</h2>
                    <h4>Nick Name</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti maxime magni porro. Assumenda,
                        aliquid modi. Labore sapiente a nulla libero.</p>
                    <div class="social-links">
                        <a href="">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="">
                            <i class="ri-facebook-circle-fill"></i>
                        </a>
                        <a href="">
                            <i class="ri-twitter-x-fill"></i>
                        </a>
                    </div>
                </div>


                <div class="each-img-div" id="ashok-img-div">
                    <div class="each-img">
                        <img src="" alt="" class="ashok-image">
                    </div>

                    <h2>Ashok Giri</h2>
                    <h4>Nick Name</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti maxime magni porro. Assumenda,
                        aliquid modi. Labore sapiente a nulla libero.</p>
                    <div class="social-links">
                        <a href="">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="">
                            <i class="ri-facebook-circle-fill"></i>
                        </a>
                        <a href="">
                            <i class="ri-twitter-x-fill"></i>
                        </a>
                    </div>
                </div>





            </div>
        </div>
        <% include footer.ejs%>




            <script>
                const joshnaImageLIst = [
                    "/images/Developers Photos/aavash1.jpg",
                    "/images/Developers Photos/aavash2.jpg",
                    "/images/Developers Photos/aavash3.jpg",
                    "/images/Developers Photos/aavash4.jpg",
                    "/images/Developers Photos/aavash5.jpg"
                ]

                const aavashImageLIst = [
                    "/images/Developers Photos/aavash1.jpg",
                    "/images/Developers Photos/aavash2.jpg",
                    "/images/Developers Photos/aavash3.jpg",
                    "/images/Developers Photos/aavash4.jpg",
                    "/images/Developers Photos/aavash5.jpg"
                ]


                const diapnshuImageLIst = [
                    "/images/Developers Photos/dipanshu1.jpg",
                    "/images/Developers Photos/dipanshu2.jpg",
                ]


                const karubImageLIst = [
                    "/images/Developers Photos/aavash1.jpg",
                    "/images/Developers Photos/aavash2.jpg",
                    "/images/Developers Photos/aavash3.jpg",
                    "/images/Developers Photos/aavash4.jpg",
                    "/images/Developers Photos/aavash5.jpg"
                ]


                const ashokImageLIst = [
                    "/images/Developers Photos/ashok1.jpeg",
                    "/images/Developers Photos/ashok2.jpg",
                    "/images/Developers Photos/ashok3.jpeg",
                    "/images/Developers Photos/ashok4.jpg",
                ]

                const joshnaImage = document.querySelector(".joshna-image")
                const aavashImage = document.querySelector(".aavash-image")
                const karubImage = document.querySelector(".karub-image")
                const dipanshuImage = document.querySelector(".dipanshu-image")
                const ashokImage = document.querySelector(".ashok-image")

                
                let randomNumberForJoshna = Math.floor(Math.random() * joshnaImageLIst.length - 1)
                let randomNumberForAavash = Math.floor(Math.random() * aavashImageLIst.length - 1)
                let randomNumberForKarub = Math.floor(Math.random() * karubImageLIst.length - 1)
                let randomNumberForDipanshu = Math.floor(Math.random() * diapnshuImageLIst.length - 1)
                let randomNumberForAshok = Math.floor(Math.random() * ashokImageLIst.length - 1)



                // joshna
                joshnaImage.setAttribute("src", joshnaImageLIst[randomNumberForJoshna])
                setInterval(() => {
                    randomNumberForJoshna++
                    joshnaImage.setAttribute("src", joshnaImageLIst[i])
                    if (randomNumberForJoshna == joshnaImageLIst.length - 1) {
                        randomNumberForJoshna = 0
                    }
                }, 15000)

                // aavash
                aavashImage.setAttribute("src", aavashImageLIst[randomNumberForAavash])
                setInterval(() => {
                    randomNumberForAavash++
                    aavashImage.setAttribute("src", aavashImageLIst[randomNumberForAavash])
                    if (randomNumberForAavash == aavashImageLIst.length - 1) {
                        randomNumberForAavash = 0
                    }
                }, 15000)


                // karub
                karubImage.setAttribute("src", karubImageLIst[randomNumberForKarub])
                setInterval(() => {
                    randomNumberForKarub++
                    karubImage.setAttribute("src", karubImageLIst[randomNumberForKarub])
                    if (randomNumberForKarub == karubImageLIst.length - 1) {
                        randomNumberForKarub = 0
                    }
                }, 15000)


                // dipanshu
                dipanshuImage.setAttribute("src", diapnshuImageLIst[randomNumberForDipanshu])
                setInterval(() => {
                    randomNumberForDipanshu++
                    dipanshuImage.setAttribute("src", diapnshuImageLIst[randomNumberForDipanshu])
                    if (randomNumberForDipanshu == diapnshuImageLIst.length - 1) {
                        randomNumberForDipanshu = 0
                    }
                }, 15000)

                // ashok
                ashokImage.setAttribute("src", ashokImageLIst[randomNumberForAshok])
                setInterval(() => {
                    randomNumberForAshok++
                    ashokImage.setAttribute("src", ashokImageLIst[randomNumberForAshok])
                    if (randomNumberForAshok == ashokImageLIst.length - 1) {
                        randomNumberForAshok= 0
                    }
                }, 15000)







            </script>
</body>

</html>