<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>developers</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/developer.css">
  <link rel="shortcut icon" href="/favicon/android-chrome-192x192.png" type="image/x-icon">

</head>

<body>
    <%- include ('header');%>



        <div id="developer">
            <center>
                <h1>" We The Developers "</h1>
            </center>
            <br>

            <div class="developer-photo-container">
                <div class="each-img-div" id="joshna-img-div">
                    <div class="each-img">
                        <img src="" alt="" class="joshna-image">
                    </div>

                    <h2>Joshna Karki</h2>
                    <h4>UX/UI Designer</h4>
                    <p>
                        I am a Full Time UX/UI Designer In Web Development.
                    </p>
                    <div class="social-links">
                        <a href="#">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="#">
                            <i class="ri-facebook-circle-fill"></i>
                        </a>
                        <a href="#">
                            <i class="ri-twitter-x-fill"></i>
                        </a>
                    </div>
                </div>

                <div class="each-img-div" is="aavash-img-div">
                    <div class="each-img">
                        <img src="" alt="" class="aavash-image">
                    </div>

                    <h2>Aavash Bhujel</h2>
                    <h4>Web Tester</h4>
                    <p>
                        Having The Knowledge In Frontend , I Am a Web Fontend Tester.
                    </p>
                    <div class="social-links">
                        <a href="https://www.instagram.com/aavash_bhujel/" target="_blank">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="https://www.facebook.com/aavash.bhujel.7" target="_blank">
                            <i class="ri-facebook-circle-fill"></i>
                        </a>
                        <a href="#">
                            <i class="ri-twitter-x-fill"></i>
                        </a>
                    </div>
                </div>


                <div class="each-img-div" id="karub-img-div">
                    <div class="each-img">
                        <img src="" alt="karub dahal" class="karub-image">
                    </div>

                    <h2>Karub Dahal</h2>
                    <h4>Frontend Developer</h4>
                    <p>
                        I am a Frontend Developer, witn the basic Knowledge of Backend.
                    </p>
                    <div class="social-links">
                        <a href="https://www.instagram.com/karub_05/" target="_blank">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="https://www.facebook.com/kar.ub.5" target="_blank">
                            <i class="ri-facebook-circle-fill"></i>
                        </a>
                        <a href="#">
                            <i class="ri-twitter-x-fill"></i>
                        </a>
                    </div>
                </div>


                <div class="each-img-div" id="dipanshu-img-div">
                    <div class="each-img">
                        <img src="" alt="dipanshu khadka" class="dipanshu-image">
                    </div>

                    <h2>Dipanshu Khadka</h2>
                    <h4>Web Tester</h4>

                    <p>
                        Full Time In Web Developent Tester.
                    </p>
                    <div class="social-links">
                        <a href="https://www.instagram.com/DIPANSHU.KHADKA11?fbclid=IwAR1agx-DKq9h5GpYyquS6FmQcNUMZE3RIVLLwQfjSFrmeyxqIfDFuC4OaB8"
                            target="_blank">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="https://www.facebook.com/dipanshu.khadka.1" target="_blank">
                            <i class="ri-facebook-circle-fill"></i>
                        </a>
                        <a href="#">
                            <i class="ri-twitter-x-fill"></i>
                        </a>
                    </div>
                </div>


                <div class="each-img-div" id="ashok-img-div">
                    <div class="each-img">
                        <img src="" alt="" class="ashok-image">
                    </div>

                    <h2>Ashok Giri</h2>
                    <h4>Backend Developer</h4>
                    <p>
                        Having a Knowledge in Frontend , i am working as a Backend Developer.
                    </p>
                    <div class="social-links">
                        <a href="https://www.instagram.com/sautaboy" target="_blank">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="https://www.facebook.com/sautaboyy" target="_blank">
                            <i class="ri-facebook-circle-fill"></i>
                        </a>
                        <a href="https://www.twitter.com/sautaboy" target="_blank">
                            <i class="ri-twitter-x-fill"></i>
                        </a>
                    </div>
                </div>





            </div>
        </div>
        <%- include ('footer');%>


            <script src="/javascripts/developers.js"></script>
</body>

</html>