<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/footer.css">

<div class="footer">

    <div class="top">

        <div class="bytespedia">

            <span class="bytes">
                Bytes <span class="pedia">

                    Pedia </span>
            </span>
            <p class="slogan">
                <span class="first-cot">" </span>Elevate Your Learning Experience with Our Semester Notes. <span
                    class="last-cot">"</span>
            </p>
        </div>


    </div>
</div>
<script>
    document.querySelector(".contact-us-button").addEventListener("mouseenter", function () {
        document.querySelector(".calling-gif").classList.toggle("open")
    })
    document.querySelector(".contact-us-button").addEventListener("mouseleave", function () {
        document.querySelector(".calling-gif").classList.toggle("open")
    })
</script>