<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/header.css">

<link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="../public/favicon/android-chrome-192x192.png" type="image/x-icon">


<header>
    <a href="/" id="logo">
        <h3>
            <span class="bytes">Bytes</span>
            <span class="pedia">Pedia</span>
        </h3>
        <img src="/images/logo .gif" alt="bytespedia">
    </a>


    <ul id="center-nav-list">
        <li class="hover-bca-note">
            <a href="#">Your Faculty
                <i class="ri-arrow-down-s-fill"></i>
            </a>

            <ul class="hover-me">
                <a href="/allSemisterPastYearQuestions">
                    <li>
                        allSemisterPastYearQuestions
                    </li>
                </a>
                <a href="/bca">
                    <li>BCA</li>
                </a>
                <a href="/bit">
                    <li>BIT</li>
                </a>
                <a href="/bbm">
                    <li>BBM</li>
                </a>
                <a href="/bsccsit">
                    <li>BscCsit</li>
                </a>
            </ul>
        </li>

        <li class="contact">
            <% if(isAuthenticated) {%>
                <a class="feedback-form-button">Give Us Feedback
                    <%}%>
        </li>
        <br>
        <li>
            <a href="/developer">Developers</a>
        </li>
    </ul>





    <!-- ham buttoon is here -->
    <i class="ri-menu-line ham-menu-button"></i>


    <!-- login signuup buttons -->
    <div id="navbar-buttons">
        <% if (isAuthenticated) { %>
            <a href="/user" class="user-profile-picture">
                <% if (user.image) { %>
                    <img src="/images/userPhoto/<%= user.image %>" alt="<%= user.name %>'" width="200">
                    <% } else { %>
                        <!-- Display a default profile image if user.image is not available -->
                        <img src="/images/user.png" alt="Default Profile Image" width="200">
                        <% } %>
            </a>
            <% } else { %>
                <a href="/login">
                    <input type="submit" value="Log In">
                </a>
                <a href="/signup">
                    <input type="submit" value="Sign Up">
                </a>
                <% } %>

    </div>







    <!-- this is for phoen view only -->
    <div class="phonoe-view-nav-list ">
        <a href="/">home</a>
        <a href="/allSemisterPastYearQuestions">all facultty past year questions</a>
        <a href="/developer">Developers</a>
        <% if(isAuthenticated) {%>
            <a class="feedback-form-button">Feedback
                <%}%>
            </a>

            <ul class="phone-view-semister-list">
                <li>
                    <a class="down-icon">
                        get notes
                        <i class="ri-arrow-down-s-fill"></i>
                    </a>

                    <ul class="semister-list">
                        <li>
                            <a href="/bca">BCA</a>
                        </li>
                        <li>
                            <a href="/bsccsit">BScCsit</a>
                        </li>

                        <li>
                            <a href="/bit">BIT</a>
                        </li>

                        <li>
                            <a href="/bbm">bbm</a>
                        </li>
                    </ul>
                </li>

            </ul>

            <div class="phone-view-buttons">
                <% if (isAuthenticated) { %>
                    <a href="/user" class="user-profile-picture">
                        <% if (user.image) { %>
                            <img src="/images/userPhoto/<%= user.image %>" alt="<%= user.name %>'" width="200">
                            <% } else { %>
                                <!-- Display a default profile image if user.image is not available -->
                                <img src="/images/user.png" alt="Default Profile Image" width="200">
                                <% } %>
                    </a>
                    <% } else { %>
                        <a href="/login">
                            <input type="submit" value="Log In">
                        </a>
                        <a href="/signup">
                            <input type="submit" value="Sign Up">
                        </a>
                        <% } %>
            </div>
            <% if(isAuthenticated){%>
                <p>
                    - go to your profile to see bookmarks -
                </p>
                <%} else {%>
                    <p> - you will have the bookmark features when you create an account -</p>
                    <% } %>
    </div>


</header>


<form action="/feedback" method="post" id="feedback-form" enctype="multipart/form-data">
    <!-- Add a hidden input field for the current URL -->
    <input type="hidden" name="currentUrl" id="currentUrl" value="">
    <i class="ri-close-line close-feedback-form"></i>
    <h2>
        Give Your Feedback or Suggestions 😊
    </h2>


    <div class="feedback-comment">
        <textarea name="comment" onkeyup="handleKeyWordLength()" class="feedback-value" cols="30" rows="10"
            placeholder="your must have write something..."></textarea>
        <p class="feedback-error"></p>
    </div>

    <input type="submit" name="" id="feedback-submit-button" value="Submit">
</form>


<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/javascripts/header.js"></script>