<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/header.css">

<link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<header>

    <a href="/" id="logo">
        <h3>Logo Name</h3>
        <img src="/images/logo .gif" alt="">
    </a>


    <ul id="center-nav-list">
        <li class="hover-bca-note">
            <a href="#">BCA Notes
                <i class="ri-arrow-down-s-fill"></i>
            </a>

            <ul class="hover-me">
                <li>
                    <a href="#">Past Year Questions</a>
                </li>
                <li>
                    <a href="#semister-list-link">Semister</a>
                    <!-- thsi is test -->
                </li>
                <li>
                    <a href="#">Exam Schedule</a>
                </li>
            </ul>


        </li>

        <li class="contact">
            <a href="#">Contact Us
            </a>
        </li>
    </ul>





    <!-- ham buttoon is here -->
    <i class="ri-menu-line ham-menu-button"></i>


    <!-- login signuup buttons -->
    <div id="navbar-buttons">
        <% if (isAuthenticated) { %>
            <a href="/user" class="user-profile-picture">
                <img src="/images/userPhoto/<%= user.image %>" alt="<%= user.name %>'s Profile Image" width="200">

            </a>
            <% } else { %>
                <a href="/login">
                    <input type="submit" value="Log In">
                </a>
                <a href="/signup">
                    <input type="submit" value=" Sign Up">
                </a>
                <% } %>
    </div>







    <!-- this is for phoen view only -->
    <div class="phonoe-view-nav-list ">
        <a href="">home</a>
        <a href="">notices</a>
        <a href="">past year questions</a>
        <a href="">contact</a>

        <ul class="phone-view-semister-list">
            <li>
                <a class="down-icon">
                    get notes
                    <i class="ri-arrow-down-s-fill"></i>
                </a>

                <ul class="semister-list">
                    <li>
                        <a href="/semister/firstSemister">
                            first Semister
                        </a>
                    </li>
                    <li>

                        <a href="/semister/secondSemister">
                            Second Semister
                        </a>
                    </li>

                    <li>

                        <a href="/semister/thirdSemister">
                            Third Semister
                        </a>
                    </li>

                    <li>

                        <a href="/semister/fourthSemister">
                            Fourth Semister
                        </a>
                    </li>

                    <li>

                        <a href="/semister/fifthSemister">
                            Fifth Semister
                        </a>
                    </li>

                    <a href="/semister/sixthSemister">
                        Sixth Semister
                    </a>

                    <li>

                        <a href="/semister/seventhSemister">
                            Seventh Semister
                        </a>
                    </li>
                    <li>
                        <a href="/semister/eightSemister">
                            Eight Semister
                        </a>
                    </li>
                </ul>
            </li>

        </ul>

        <div class="phone-view-buttons">
            <% if (isAuthenticated) { %>
                <a href="/user" class="user-profile-picture">
                    <img src="/images/userPhoto/<%= user.image %>" alt="<%= user.name %>'s Profile Image" width="200">

                </a>
                <% } else { %>
                    <a href="/login">
                        <input type="submit" value="Log In">
                    </a>
                    <a href="/signup">
                        <input type="submit" value=" Sign Up">
                    </a>
                    <% } %>
        </div>
        <% if(isAuthenticated){%>
            <p>
                - go to your profile to see bookmarks -
            </p>
            <%} else {%>
                <p> - you will have the bookmark features when you create an account -</p>
                <% } %>
    </div>
</header>
<script>





    document.querySelector(".ham-menu-button").addEventListener("click", function (e) {
        document.querySelector(".phonoe-view-nav-list").classList.toggle("open")
        document.querySelector(".ham-menu-button").classList.toggle("ri-menu-line");
        document.querySelector(".ham-menu-button").classList.toggle("ri-close-line");
    })







</script>