<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/header.css">

<link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

<header>
    <a href="/" id="logo">
        <h3>Bytes Pedia</h3>
        <img src="/images/logo .gif" alt="bytespedia">
    </a>


    <ul id="center-nav-list">
        <li class="hover-bca-note">
            <a href="#">Your Semister
                <i class="ri-arrow-down-s-fill"></i>
            </a>

            <ul class="hover-me">
                <li>
                    <a href="/allSemisterPastYearQuestions">All Semister Past Year Questions</a>
                </li>
                <li>
                    <a href="#">Exam Routine</a>
                </li>
            </ul>


        </li>

        <li class="contact">
            <% if(isAuthenticated) {%>
                <a class="feedback-form-button">Feedback
                    <%}%>
        </li>
        <br>
        <li>
            <a href="/developer">Developers</a>
        </li>
    </ul>





    <!-- ham buttoon is here -->
    <i class="ri-menu-line ham-menu-button"></i>


    <!-- login signuup buttons -->
    <div id="navbar-buttons">
        <% if (isAuthenticated) { %>
            <a href="/user" class="user-profile-picture">
                <img src="/images/userPhoto/<%= user.image %>" alt="<%= user.name %>'" width="200">

            </a>
            <% } else { %>
                <a href="/login">
                    <input type="submit" value="Log In">
                </a>
                <a href="/signup">
                    <input type="submit" value=" Sign Up">
                </a>
                <% } %>
    </div>







    <!-- this is for phoen view only -->
    <div class="phonoe-view-nav-list ">
        <a href="/">home</a>
        <a href="/allSemisterPastYearQuestions">all semister past year questions</a>
        <a href="/developer">Developers</a>
        <% if(isAuthenticated) {%>
            <a class="feedback-form-button">Feedback
                <%}%>
            </a>

            <ul class="phone-view-semister-list">
                <li>
                    <a class="down-icon">
                        get notes
                        <i class="ri-arrow-down-s-fill"></i>
                    </a>

                    <ul class="semister-list">
                        <li>
                            <a href="/semister/firstSemister">
                                first Semister
                            </a>
                        </li>
                        <li>

                            <a href="/semister/secondSemister">
                                Second Semister
                            </a>
                        </li>

                        <li>

                            <a href="/semister/thirdSemister">
                                Third Semister
                            </a>
                        </li>

                        <li>

                            <a href="/semister/fourthSemister">
                                Fourth Semister
                            </a>
                        </li>

                        <li>

                            <a href="/semister/fifthSemister">
                                Fifth Semister
                            </a>
                        </li>

                        <a href="/semister/sixthSemister">
                            Sixth Semister
                        </a>

                        <li>

                            <a href="/semister/seventhSemister">
                                Seventh Semister
                            </a>
                        </li>
                        <li>
                            <a href="/semister/eightSemister">
                                Eight Semister
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>

            <div class="phone-view-buttons">
                <% if (isAuthenticated) { %>
                    <a href="/user" class="user-profile-picture">
                        <img src="/images/userPhoto/<%= user.image %>" alt="<%= user.name %>'s Profile Image"
                            width="200">

                    </a>
                    <% } else { %>
                        <a href="/login">
                            <input type="submit" value="Log In">
                        </a>
                        <a href="/signup">
                            <input type="submit" value=" Sign Up">
                        </a>
                        <% } %>
            </div>
            <% if(isAuthenticated){%>
                <p>
                    - go to your profile to see bookmarks -
                </p>
                <%} else {%>
                    <p> - you will have the bookmark features when you create an account -</p>
                    <% } %>
    </div>


</header>


<form action="/feedback" method="post" id="feedback-form" enctype="multipart/form-data">
    <!-- Add a hidden input field for the current URL -->
    <input type="hidden" name="currentUrl" id="currentUrl" value="">
    <i class="ri-close-line close-feedback-form"></i>
    <h2>
        Give Your Feedback or Suggestions 😊
    </h2>


    <div class="feedback-comment">
        <textarea name="comment" class="feedback-value" cols="30" rows="10"
            placeholder="your must have write something..."></textarea>
        <p class="feedback-error"></p>
    </div>

    <input type="submit" name="" id="feedback-submit-button" value="Submit">
</form>


<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/javascripts/header.js"></script>