<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/loginsignup.css">


</head>

<body>
    <% include header.ejs%>

        <div id="content-body">

            <form action="/signup/" class="signup-form form " method="post">
                <h1>Log In</h1>
                <div class="submitted-field">
                    <label for="">
                        <i class="ri-user-fill"></i>
                        <input type="text" name="username" id="" placeholder="Username">
                    </label>
                    <label for="">
                        <i class="ri-user-heart-line"></i>
                        <input type="text" name="name" id="" placeholder="Full name">
                    </label>
                    <label for="">
                        <i class="ri-mail-fill"></i>
                        <input type="email" name="email" id="" placeholder="Email">
                    </label>
                    <label for="">
                        <i class="ri-lock-unlock-fill"></i>
                        <input type="password" name="password" id="" placeholder="Password">
                    </label>
                    <input type="submit" value="Sign Up" class="submit-button">
                    <a href="#" class="log-in-button">log in</a>
                </div>
            </form>
        </div>

        <% include footer.ejs%>
</body>

</html>