<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/loginsignup.css">
    <link rel="shortcut icon" href="/favicon/android-chrome-192x192.png" type="image/x-icon">



</head>

<body>
    <%- include ('header');%>
        <div id="content-body">

            <form action="/signup" id="signup-form" class="signup-form form" method="post">
                <h1>Sign Up</h1>
                <div class=" submitted-field">
                    <label for="username">
                        <i class="ri-user-fill"></i>
                        <input type="text" name="username" onkeyup="characterCheck()" id="username"
                            placeholder="Username">

                        <!--  -->
                        <p class="usernameAvailable">
                        </p>
                    </label>

                    <label for="name">
                        <i class="ri-user-heart-line"></i>
                        <input type="text" name="name" onkeyup="characterCheck()" id="name" placeholder="Full name">
                    </label>


                    <label for="email">
                        <i class="ri-mail-fill"></i>
                        <input type="email" name="email" onkeyup="characterCheck()" id="email" placeholder="Email">
                    </label>


                    <label for="password">
                        <i class="ri-lock-unlock-fill"></i>
                        <input type="password" name="password" onkeyup="characterCheck()" id="password"
                            placeholder="Password">
                    </label>


                    <input type="submit" value="Sign Up" class="submit-button">
                    <a href="#" class="log-in-button">log in</a>
                    <div>
                        <p class="onkeyupErrorMessage">
                            <%= message%>
                        </p>
                    </div>
                </div>
            </form>
        </div>

        <%- include ('footer');%>
            <script src="/javascripts/signup.js"></script>


            <!-- jquery implementation -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



            <script>
                // Add event listener to username input field
                $('#username').on('input', function () {
                    // Get the value of the username input field
                    const username = $(this).val();

                    // Send an AJAX request to the server to check username availability
                    $.ajax({
                        url: '/checkUsername',
                        method: 'POST',
                        data: { username: username },
                        success: function (response) {
                            // Update the display area with the response message
                            $('.usernameAvailable').text(response.message);
                        }
                    });
                });
            </script>


            <script>
                document.querySelector("#signup-form").addEventListener("click", function (e) {
                    if (document.querySelector("input[name=username]").value.length >= 15) {
                        e.preventDefault();

                    }
                    else if (document.querySelector("input[name=username]").value.length <= 3) {
                        e.preventDefault();

                    }
                    else if (document.querySelector("input[name=name]").value.length >= 15) {
                        e.preventDefault();
                    }

                    else if (document.querySelector("input[name=name]").value.length <= 3) {
                        e.preventDefault();

                    }
                    else if (document.querySelector("input[name=email]").value.length >= 50) {
                        e.preventDefault();
                    }

                    else if (document.querySelector("input[name=email]").value.length <= 3) {
                        e.preventDefault()

                    }

                    else if (document.querySelector("input[name=password]").value.length >= 15) {
                        e.preventDefault();
                    }

                    else if (document.querySelector("input[name=password]").value.length <= 3) {
                        e.preventDefault();

                    }
                })


                document.querySelector(".onkeyupErrorMessage").style.color = "red"


                function characterCheck() {
                    if (document.querySelector("input[name=username]").value.length >= 15) {
                        document.querySelector(".onkeyupErrorMessage").innerText = "Username is too long"

                    }
                    else if (document.querySelector("input[name=username]").value.length <= 3) {
                        document.querySelector(".onkeyupErrorMessage").innerText = "Username is too short"

                    }
                    else if (document.querySelector("input[name=name]").value.length >= 15) {
                        document.querySelector(".onkeyupErrorMessage").innerText = "Name is too long"
                    }

                    else if (document.querySelector("input[name=name]").value.length <= 3) {
                        document.querySelector(".onkeyupErrorMessage").innerText = "Name is too short"

                    }
                    else if (document.querySelector("input[name=email]").value.length >= 50) {
                        document.querySelector(".onkeyupErrorMessage").innerText = "Email is too long"
                    }

                    else if (document.querySelector("input[name=email]").value.length <= 3) {
                        document.querySelector(".onkeyupErrorMessage").innerText = "Invalid Email"

                    }

                    else if (document.querySelector("input[name=password]").value.length >= 15) {
                        document.querySelector(".onkeyupErrorMessage").innerText = "Password is too long"
                    }

                    else if (document.querySelector("input[name=password]").value.length <= 3) {
                        document.querySelector(".onkeyupErrorMessage").innerText = "Password is too short"

                    }
                    else {
                        document.querySelector(".onkeyupErrorMessage").innerText = ""
                    }
                }
            </script>

</body>

</html>