<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/loginsignup.css">


</head>

<body>
    <%- include ('header');%>


        <div id="content-body">
            <form action="/signup" id="signup-form" class="signup-form form" method="post">
                <h1>Sign Up</h1>
                <div class=" submitted-field">
                    <label for="username">
                        <i class="ri-user-fill"></i>
                        <input type="text" name="username" id="username" placeholder="Username">
                    </label>
                    <p id="username-error-message" class="error-message"></p>

                    <label for="name">
                        <i class="ri-user-heart-line"></i>
                        <input type="text" name="name" id="name" placeholder="Full name">
                    </label>
                    <p id="name-error-message" class="error-message"></p>

                    <label for="email">
                        <i class="ri-mail-fill"></i>
                        <input type="email" name="email" id="email" placeholder="Email">
                    </label>
                    <p id="email-error-message" class="error-message"></p>

                    <label for="password">
                        <i class="ri-lock-unlock-fill"></i>
                        <input type="password" name="password" id="password" placeholder="Password">
                    </label>
                    <p id="password-error-message" class="error-message"></p>

                    <input type="submit" value="Sign Up" class="submit-button">
                    <a href="#" class="log-in-button">log in</a>
                </div>
            </form>
        </div>

        <%- include ('footer');%>


            <script src="/javascripts/signup.js"></script>
</body>

</html>