<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user profile</title>
    <link rel="stylesheet" href="/stylesheets/user.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <% include header.ejs%>




        <div id="content-body">

            <div class="user-profile">
                <div class="user-profile-img-wrap">
                    <img src="/images/user.png" alt="">
                    <input type="file" class="upload-profile-input" hidden>
                </div>

                <input type="submit" value="edit profile" class="edit-profile-button" >

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est fuga earum, eaque eum neque esse
                    repudiandae! Aliquam delectus laboriosam debitis!
                </p>
            </div>

            <div class="bookmarks">
                <h2>Your Book Marks</h2>
                <div class="booksmark-list">
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>
                    <a href=""></a>


                </div>
            </div>

        </div>
        <% include footer.ejs%>




        <script>
            document.querySelector(".edit-profile-button").addEventListener("click", function()
            {
                document.querySelector(".upload-profile-input").click();
            })
        </script>




</body>

</html>