#faculty-main {
    width: 100%;
    padding: 0 7%;
}

@media(max-width:920px) {
    #faculty-main {
        padding-top: 7rem;
    }

    #faculty-main h1 {
        font-size: medium;
        letter-spacing: 2px;
    }

    #faculty-main .second-page p {
        text-align: justify;
        width: 100%;
        font-size: medium;
    }
}