* {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 7%;
    height: 6rem;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.197);
    margin-bottom: 3rem;

}

.ham-menu-button {
    display: none;
}

header a#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: fit-content;
    gap: 5px;
}

header a#logo h3 {
    text-wrap: nowrap;
    letter-spacing: 2px;
}

header a#logo img {
    width: 2rem;
    height: 2rem;
    /* border-radius: 50%; */

}

header #center-nav-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-semister-name {
    cursor: pointer;
    letter-spacing: 1px;
}



a.user-profile-picture img {
    height: 50px;
    width: 50px;
    border-radius: 50%;

}







header #navbar-buttons input {
    padding: 5px 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
}


#center-nav-list {
    position: relative;
    width: fit-content;
    white-space: nowrap;
    display: none;
}

li.contact {
    margin-left: 2rem;
}


#center-nav-list>* ul {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150%;
    padding-top: 10px;
    transition: .3s ease-in;
    z-index: -1;
    top: 20vw;
    left: 20vw;
    opacity: 0;
}



#center-nav-list>* ul li {
    padding: 7px 20px;
    border-radius: 5px;
    background: #dadada;
    transition: .2s linear;
    background: hsl(0, 0%, 95%);

}

#center-nav-list>* ul li:hover {
    background: hsl(0, 0%, 100%);
    filter: drop-shadow(-1px 1px 3px rgba(0, 0, 0, 0.672));
    color: #747373;
}


#center-nav-list li.hover-bca-note:hover .hover-me {
    display: flex;
    transition: .3s ease-in-out;

    z-index: 1;
    top: 100%;
    left: 0;
    opacity: 1;

}

.phonoe-view-nav-list {
    display: none;
}







@media (max-width: 920px) {
    header {
        position: fixed;
        width: 100%;
        background: #fff;
        z-index: 99999;
        justify-content: space-between;
    }

    header #center-nav-list {
        display: none;
    }



    .ham-menu-button {
        display: block;
        color: crimson;
        font-size: 2rem;

    }

    header #navbar-buttons {
        display: none;
    }

    .phonoe-view-nav-list {
        overflow-y: scroll;
        padding-top: 2rem;
        height: 100vh;
        top: 6rem;
        background: hsl(0, 0%, 98%);
        width: 100%;
        display: flex;
        position: fixed;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        height: calc(100vh - 6rem);
        align-items: center;
        width: 100%;
        margin: 0 auto;
        transform: translateX(-100%);
        transition: .3s linear;
        padding-bottom: 2rem;
    }

    .phonoe-view-nav-list.open {
        transform: translateX(0%);

    }

    .phonoe-view-nav-list a {
        width: 80%;
        text-transform: capitalize;
        color: #111;
    }

    .phone-view-semister-list {
        border-top: 1px solid rgba(128, 128, 128, 0.242);
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 1rem;
    }

    .phone-view-semister-list li {
        width: 80%;
    }

    .down-icon {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .down-icon i {
        font-size: 1.2;
    }

    .phone-view-semister-list li ul {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: relative;
        left: 1rem;
        padding: 1rem 0;
    }

    .phone-view-buttons {
        border-top: 1px solid rgba(128, 128, 128, 0.242);
        padding-top: 1.3rem;
        width: 100%;
        /* margin: 0 auto; */
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .phone-view-buttons a {
        width: fit-content;
        width: 40%;
        display: flex;
        justify-content: center;
    }

    .phone-view-buttons input {
        width: 100%;
        padding: 5px;
    }

    .phonoe-view-nav-list p {
        text-align: center;
        width: 80%;
        margin: 0 auto;
        font-size: 13px;
        text-transform: capitalize;
        margin-top: .5rem;
    }
}