* {
    font-family: 'Poppins', sans-serif;
    color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 7%;
    height: 6rem;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.197);
    margin-bottom: 3rem;
    background: #E5D4FF;

}

.ham-menu-button {
    display: none;
}

header a#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: fit-content;
    gap: 5px;
}

header a#logo h3 {
    text-wrap: nowrap;
    letter-spacing: 2px;
}

header a#logo img {
    width: 2rem;
    height: 2rem;
    /* border-radius: 50%; */

}

header #center-nav-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-semister-name {
    cursor: pointer;
    letter-spacing: 1px;
}



a.user-profile-picture img {
    height: 50px;
    width: 50px;
    border-radius: 50%;

}

.feedback-error {
    color: crimson;
}







header #navbar-buttons input {
    padding: 7px 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
    background: #D0A2F7;
    border: none;
    border-radius: 5px;
    width: 8rem;
    color: #fff;
    transition: .3s ease-in-out;
}

header #navbar-buttons input:hover {
    background: hsl(272, 84%, 70%);
}

#center-nav-list {
    position: relative;
    width: fit-content;
    white-space: nowrap;
    display: none;
}

li.contact {
    margin-left: 2rem;
}


#center-nav-list>* ul {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    transition: .3s ease-in;
    z-index: -1;
    top: 20vw;
    left: 20vw;
    opacity: 0;

}



#center-nav-list>* ul li {
    padding: 7px 20px;
    border-radius: 5px;
    transition: .2s linear;
    z-index: 9;
    background: #E5D4FF;
    border: 1px solid #3333;
    width: 100%;
}

#center-nav-list>* ul li:hover {
    filter: drop-shadow(-1px 1px 3px rgba(0, 0, 0, 0.672));
    color: #747373;
}

#center-nav-list>* ul li a {
    width: 10rem;
    height: initial;
}



#center-nav-list li.hover-bca-note:hover .hover-me {
    display: flex;
    transition: .3s ease-in-out;

    z-index: 8;
    top: 100%;
    left: 0;
    opacity: 1;
    width: fit-content;
}

.phonoe-view-nav-list {
    display: none;
}


#feedback-form {
    background: red;
    margin-top: 6rem;
    position: fixed;
    z-index: 9;
    height: 50vh;
    width: 40%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background: #222;
    color: #222;
    padding: 1rem;
    height: fit-content;
    border-radius: 10px;
    gap: .5rem;
    display: none;
    z-index: 99999;



    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: black 1px solid;
    background: linear-gradient(-45deg, hsla(120, 100%, 95%, rgba(251, 208, 217, 0.028)3%rgba(255, 255, 204, 0.091)0%, 90%));

}

#feedback-submit-button {
    height: 55px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    transition: .1s linear;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #D0A2F7;

}



#feedback-submit-button:hover {
    background: hsl(272, 84%, 70%);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



#feedback-form h2 {
    text-align: center;
    padding: 1rem 0;
    letter-spacing: 2px;
}

#feedback-form h3 {
    margin-bottom: 5px;
}


#feedback-option {
    padding: 1rem;
    cursor: pointer;
    outline: none;
}

#feedback-form i {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    font-size: 27px;
    color: red;
}

#feedback-form i:hover {
    scale: 1.1;
}

.feedback-form-button {
    cursor: pointer;
}



#feedback-form textarea {
    width: 100%;
    /* background: red; */
    padding: 1rem;
    outline: none;
    text-transform: capitalize;
    background-image: url("/images/writing.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    font-size: large;
    color: green;
    letter-spacing: 2px;
}

#feedback-form button {
    padding: .7rem;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: bold;
}






@media (max-width: 920px) {
    header {
        position: fixed;
        width: 100%;
        z-index: 99999;
        justify-content: space-between;
    }

    header #center-nav-list {
        display: none;
    }



    .ham-menu-button {
        display: block;
        color: green;
        font-size: 2rem;

    }

    header #navbar-buttons {
        display: none;
    }

    .phonoe-view-nav-list {
        overflow-y: scroll;
        padding-top: 2rem;
        height: 100vh;
        top: 6rem;
        width: 100%;
        display: flex;
        position: fixed;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        height: calc(100vh - 4rem);
        align-items: center;
        width: 100%;
        margin: 0 auto;
        transform: translateX(-100%);
        transition: .3s linear;
        padding-bottom: 2rem;
        background: #E5D4FF;
    }

    .phonoe-view-nav-list.open {
        transform: translateX(0%);

    }

    .phonoe-view-nav-list a {
        width: 80%;
        text-transform: capitalize;
        color: #111;
    }

    .phone-view-semister-list {
        border-top: 1px solid rgba(128, 128, 128, 0.242);
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 1rem;
    }

    .phone-view-semister-list li {
        width: 80%;
    }

    .down-icon {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .down-icon i {
        font-size: 1.2;
    }

    .phone-view-semister-list li ul {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: relative;
        left: 1rem;
        padding: 1rem 0;
    }

    .phone-view-buttons {
        border-top: 1px solid rgba(128, 128, 128, 0.242);
        padding-top: 1.3rem;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .phone-view-buttons a {
        width: fit-content;
        width: 40%;
        display: flex;
        justify-content: center;
    }

    .phone-view-buttons input {
        width: 100%;
        padding: 7px;
        background: #D0A2F7;
        border-radius: 10px;
        border: none;
    }

    .phonoe-view-nav-list p {
        text-align: center;
        width: 80%;
        margin: 0 auto;
        font-size: 13px;
        text-transform: capitalize;
        margin-top: .5rem;
    }

    #feedback-form {
        width: 97%;
    }
}