#content-body {
    min-height: 100vh;
}


.form {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 40%;
    border-radius: 5px;
    overflow: hidden;

    border-radius: 16px;
    backdrop-filter: blur(5px);
    animation: Shake 0.5s linear infinite;
    background: #E5D4FF;
}


p.error-message {
    color: crimson;
    text-align: justify;
    letter-spacing: -1px;
}



.form h1 {
    height: 6rem;
    background: var(--purple);
    text-transform: uppercase;
    color: #111;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitted-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 20px;
}

.form label {
    display: flex;
    font-size: 20px;
    letter-spacing: 1px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    background: green;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.form label i {
    width: 10%;
    background: var(--purple);
    height: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: hwb(267 55% 0%);
}

.form label input {
    width: 90%;
    padding: 0 10px;
    outline: none;
    border-radius: 0 5px 5px 0;
    border: green 1px solid;
}




.form label input {
    height: 100%;
    border: .5px solid rgba(0, 0, 0, 0.342);
    border-left: none;
    letter-spacing: 1px;
    background: #F1EAFF;
}

.form input.submit-button {
    height: 3rem;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 10px;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    font-weight: bold;
    background: #D0A2F7;
    transition: .3s ease-in-out;
}

.form input.submit-button:hover {

    background: hsl(272, 84%, 70%);

}

input.choose-image-button {
    width: 90%;
    height: 100%;
    border: none;
    border: .5px solid rgba(0, 0, 0, 0.342);
    cursor: pointer;
}

input[type="file"] {
    position: absolute;

}


.log-in-button {
    text-align: center;
    text-transform: capitalize;
}

@media (max-width: 920px) {
    .form {
        width: 95%;
    }
}