#content-body {
    padding: 1rem 7%;
    display: flex;
    gap: 3rem;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    min-height: 100vh;
}

#content-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 60%;
}

.quick-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    width: 25%;
    padding: 10px;
    position: sticky;
    top: 2rem;
    border-radius: 16px;
    background: #E5D4FF;
}

.quick-links a {
    padding: 3px 10px;
    display: block;
    text-transform: capitalize;
    border-radius: 10px;
    background: #F1EAFF;
}

.content {
    height: fit-content;
    width: 100%;
    border-radius: 10px;
    border-bottom: 2px solid red;
    padding: 2rem 1rem 1rem 1rem;
    background: #E5D4FF;
}

.content h2 {
    text-align: center;
}

.content .notes-container {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-items: center;
}

.content .notes-container h2 {
    text-align: center;
    width: 70%;
}


.content .notes-container iframe {
    width: 100%;
    height: 600px;
    padding: 5px;
    display: block;
    background: #F1EAFF;
    border-radius: 10px;
}

.bookmark-button {
    font-size: 3rem;
    text-align: right;
    width: fit-content;
    cursor: pointer;
}

.book-mark-section {
    align-items: center;
    display: flex;
    padding: 7px 16px;
    width: 100%;
    border-radius: 10px;
    background: #D0A2F7;
}

.book-mark-section p {
    text-align: center;
    width: 100%;
    color: #fff;
}

.show-subject-list {
    display: none;
}

.quick-links-past-year-questions {
    display: flex;
    gap: 1.3rem;
    flex-wrap: wrap;
}



@media (max-width: 920px) {


    .show-subject-list {
        display: block;
        position: fixed;
        right: 0;
        height: 3rem;
        z-index: 90;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        width: 2rem;
        top: 6rem;
        border-radius: 5px 0 0 5px;
        color: crimson;
        background: #E5D4FF;

    }

    #content-body {
        flex-direction: column;
        padding: initial;
        min-height: 100vh;
        height: fit-content;
        padding: 7rem 10px 1rem 10px;
    }

    #content-container {
        width: 100%;
    }

    .content .notes-container h2 {
        width: 100%;
    }

    .quick-links {
        width: 100%;
        z-index: 9;
        top: 6rem;
        border-radius: initial;
        position: fixed;
        left: 0;
        transform: translateX(100%);
        transition: .3s linear;
    }

    .quick-links.open {
        transform: translateX(0%);

    }




    .content {
        width: 100%;
        height: fit-content;
        padding: 5px;
    }


}