#content-body {
    padding: 1rem 7%;
    display: flex;
    gap: 3rem;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    min-height: 100vh;
}

#content-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 60%;
}

.quick-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: fit-content;
    width: 25%;
    background: #fff;
    filter: drop-shadow(0px 1px 1px #888888);
    padding: 10px;
    position: sticky;
    top: 2rem;
    border-radius: 16px;
}

.quick-links a {
    border: 1px solid #ccc;
    padding: 3px 10px;
    display: block;
    background-color: #f5f5f5;
    text-transform: capitalize;
    filter: drop-shadow(0px 1px 1px #888888);
}

.content {
    height: fit-content;
    width: 100%;
    background: #fff;
    filter: drop-shadow(0px 1px 1px #888888);
    border-radius: 16px;
    border-bottom: 2px solid red;
    padding: 2rem 1rem 1rem 1rem;
}

.content h2 {
    text-align: center;
}

.content .notes-container {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-items: center;
}

.content .notes-container h2 {
    text-align: center;
    width: 70%;
}


.content .notes-container iframe {
    border: 2px solid black;
    width: 100%;
    height: 600px;
    border: 1px solid #ccc;
    /* margin: 10px; */
    padding: 5px;
    display: block;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 5px #888888;

}

.bookmark-button {
    font-size: 3rem;
    text-align: right;
    width: fit-content;
    cursor: pointer;
}

.book-mark-section {
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #888888;
    background-color: #f5f5f5;

    display: flex;
    padding: 7px 16px;
    width: 100%;
    border-radius: 16px;
}

.book-mark-section p {
    text-align: center;
    width: 100%;
}

.show-subject-list {
    display: none;
}

.past-year-questions
 {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #888888;
    background-color: #f5f5f5;
    padding: .5rem 1rem;
    width: 100%;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: scroll;
    text-align: center;
    border-radius: 16px;

}
.past-year-questions h4 
{
    border-bottom: 1px solid rgba(128, 128, 128, 0.308);
}



.each-subject-questions-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.each-subject-questions-list a {
    width: 20%;
    scale: 1.2;
}



@media (max-width: 920px) {


    .show-subject-list {
        display: block;
        position: fixed;
        right: 0;
        height: 3rem;
        z-index: 90;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        width: 2rem;
        top: 6rem;
        border-radius: 5px 0 0 5px;
        color: crimson;
        background: hsl(0, 0%, 90%);
    }

    #content-body {
        flex-direction: column;
        padding: initial;
        min-height: 100vh;
        height: fit-content;
        padding: 7rem 10px 1rem 10px;
    }

    #content-container {
        width: 100%;
    }

    .content .notes-container h2 {
        width: 100%;
    }

    .quick-links {
        width: 100%;
        z-index: 9;
        top: 6rem;
        border-radius: initial;
        position: fixed;
        left: 0;
        transform: translateX(100%);
        transition: .3s linear;
    }

    .quick-links.open {
        transform: translateX(0%);

    }




    .content {
        width: 100%;
        height: fit-content;
        padding: 5px;
    }


}   