@font-face {
  font-family: bytespedia;
  src: url(/Fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
  font-family: h1;
  src: url(/Fonts/h1.ttf)
}

@font-face {
  font-family: p;
  src: url(/Fonts/paragraph.ttf)
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: bytespedia; */
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #F1EAFF;
}

.bytes {
  color: #dc143c;
  font-size: 24px;
  letter-spacing: 1px;
}

.bytes.index,
.pedia.index {
  font-size: initial;
}

.pedia {
  color: green;
  font-size: 24px;

}

h1 {
  font-family: h1;
}

p {
  font-family: p;
}

button {
  width: fit-content;
  padding: 10px 20px;
  background: #D0A2F7;
  border-radius: 10px;
  border: none;
  color: #222;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: hsl(272, 84%, 70%);
}