#content-body {
    padding: 0 7%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 100vh;
}

.user-profile {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    gap: 1rem;
}

.user-profile .user-profile-img-wrap {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgba(128, 128, 128, 0.474);

}

h3.user-full-name {
    text-transform: uppercase;
    color: red;
}



.edit-profile-button-and-logout-button-container {
    display: flex;
    gap: 1rem;
}

.edit-profile-button-and-logout-button-container input {
    width: 9rem;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    text-transform: capitalize;
}



.user-profile p {
    text-align: center;
    line-height: 28px;
}

.bookmarks {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 2rem 0;
}

.bookmarks .bookmark-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    margin-left: 4%;
    padding: 1rem 0;
    display: flex;
}


.bookmarks li {
    width: calc(100% / 8);
    height: 100px;
    background-color: #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
    flex-direction: column;
}

.bookmarks li button {
    width: 100%;
    padding: 3px 0;
    text-transform: uppercase;
    border-radius: 0px;
    border: 1px solid black;
    cursor: pointer;
}

.bookmarks li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
}




@media (max-width: 920px) {

    #content-body {
        padding: 8rem 7%;
    }

    .user-profile {
        width: 100%;
    }

    .bookmarks .bookmark-list
    {
        justify-content: center;
    }
    .user-profile .user-profile-img-wrap {
        width: 15vh;
        height: 15vh;
        position: relative;
    }

    .bookmarks li {
        width: 40%;
    }


    .bookmarks a {
        width: calc(100% / 3 - 9px);
        height: 60px;
    }



}